* {
	box-sizing: border-box;
}


/* ----------------------------- HEADER ------------------------------- */
.header {
	border-radius: 15px;
	padding: 0 1.34em;
	margin: 1rem 0;
	background-color: #163c38;
	overflow: hidden;
}

.header h1 {
	display: inline-block;
	color: #DA2C38;
    text-shadow: 0px 0px 3px #000000fc;
    cursor: pointer;
    transition: text-shadow .3s, color .3s;
}

.header h1:hover {
    text-shadow: 0px 0px 1px #ff9090;
    color: #ff0012;
}

.nav {
	display: inline-block;
	float: right;
	margin: calc(0.8em - 2px) 0;
}

.nav a {
	position: relative;
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 1.8em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #FFF;
	border: 2px solid #DA2C38;
	border-radius: 25px;
	overflow: hidden;
	padding: 5px 0;
	margin: 0 .3em;
	transition: box-shadow .3s, border-color .3s;
}

.nav a:hover {
	box-shadow: 0px 0px 5px 2px #000000fc;
	border-color: #fff;
}

.nav a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	bottom: 0;
	background: #DA2C38;
	transition: .4s;
}

.nav a:hover::before {
	height: 100%;
}

.nav a span {
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	color: #FFF;
}

.nav a:hover span {
	transition: transform .4s;
	transform: translateY(-100%);
}

.nav a:hover span::before {
	content: attr(text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	color: #FFF;
	padding: 5px 20px;
	text-shadow: 5px 5px 20px 20px #000000fc;
}

@media screen and (max-width: 750px) {
	.header {
		display: block;
	}

	.header h1 {
		margin-bottom: 0.5em;
	}

	.nav {
		display: block;
		float: none;
		margin-top: 0;
	}

	.nav a {
    	margin: 0 .6em .5em 0;
	}
}

/* ----------------------------- BUTTONS ----------------------------- */
input[type="submit"], .button {
	background: transparent;
	border: none;
	display: inline-block;
	font-family: sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	color: #ff0000;
	font-size: 0.75em;
	border: 2px solid #fbb4b4;
	border-radius: 25px;
	padding: 5px 10px;
	background-color: #000000bd;
	box-shadow: 0px 0px 5px #fbb4b4;
	text-shadow: 0px 0px 1px #ff0000;
	transition: box-shadow .3s, text-shadow .3s, color .3s, border-color .3s;
	margin: 0.4rem 0.5rem 0 0;
}

input[type="submit"]:hover, .button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px #000000;
	text-shadow: 0px 0px 10px #000000;
	border-color: #DA2C38;
	color: #fff;
}

/* ----------------------------------- FORMS ---------------------------- */
form {
	display: inline-block;
}

select {
	text-align-last: center;
}

/* ----------------------------------- SPANS --------------------------- */
span {
	color: #4a3d3d;
}

.error {
	color: red;
}

/* ----------------------------- BACKGROUND --------------------------- */
html  {
	min-height: 100%;
}

body {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	margin: 0 1.34rem 1.34rem 1.34rem;
	
}

/*@media screen and (min-width: 1300px) {
	body {
		margin: 0 auto 1.34rem auto;
		max-width: calc(1300px - 2.68rem);
	}
}*/

@media screen and (max-height: 480px) {
	.chain {background-image: url("../images/480p/chain.jpg");}
	.corner {background-image: url("../images/480p/corner.jpg");}
	.lifting {background-image: url("../images/480p/lifting.jpg")}
	.race {background-image: url("../images/480p/race.jpg")}
	.tech {background-image: url("../images/480p/tech.jpg")}
	.turnstile {background-image: url("../images/480p/turnstile.jpg");}
}

@media screen and (min-height: 480px) and (max-height: 720px) {
	.chain {background-image: url("../images/720p/chain.jpg");}
	.corner {background-image: url("../images/720p/corner.jpg");}
	.lifting {background-image: url("../images/720p/lifting.jpg")}
	.race {background-image: url("../images/720p/race.jpg")}
	.tech {background-image: url("../images/720p/tech.jpg")}
	.turnstile {background-image: url("../images/720p/turnstile.jpg");}
}

@media screen and (min-height: 720px) and (max-height: 1080px) {
	.chain {background-image: url("../images/1080p/chain.jpg");}
	.corner {background-image: url("../images/1080p/corner.jpg");}
	.lifting {background-image: url("../images/1080p/lifting.jpg")}
	.race {background-image: url("../images/1080p/race.jpg")}
	.tech {background-image: url("../images/1080p/tech.jpg")}
	.turnstile {background-image: url("../images/1080p/turnstile.jpg");}
}

@media screen and (min-height: 1080px) {
	.chain {background-image: url("../images/1280p/chain.jpg");}
	.corner {background-image: url("../images/1280p/corner.jpg");}
	.lifting {background-image: url("../images/1280p/lifting.jpg")}
	.race {background-image: url("../images/1280p/race.jpg")}
	.tech {background-image: url("../images/1280p/tech.jpg")}
	.turnstile {background-image: url("../images/1280p/turnstile.jpg");}
}

/* ------------------------- HIDE BANNER ---------------------------- */
a[target=_blank] {
	display: none;
}